

.home {
  height: 100vh;
  background: linear-gradient(#4c99aa, #98c0c8);

}

h1 {
  color: white;
  font-family: 'Lora', serif;
  font-size: 40px;
}

h2 {
  color: white;
  font-family: 'Lora', serif;
}

.profile {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

