<br>

<div class="container justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center w-75 p-3">
    <h1>Master you mind</h1>
    <p>Hey there! 👋 Welcome to Ness Labs, a venture studio dedicated to products that help people be happier and healthier. I’m Anne-Laure, and I believe we are at our happiest when we’re our most creative and productive self. Ness Labs is all about empowering makers to do their best work while keeping their sanity.</p>

    <img class="profile" src="https://media.licdn.com/dms/image/C5603AQGoiab_FJX0LA/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=bjzKiS727T9KsXfVoz5XNDalxBTrCUG5P1gAy53mf1w" alt="">

  </div>

</div>
