<br>

<div class="container justify-content-center align-items-center mt-3">
  <div class="d-flex flex-column justify-content-center align-items-center p-5 mt-5">
    <br>

    <h1>Master you mind</h1>
    <p class="p-2">Hey there! 👋 Welcome to Ness Labs, a venture studio dedicated to products that help people be happier and healthier. I’m Anne-Laure, and I believe we are at our happiest when we’re our most creative and productive self. Ness Labs is all about empowering makers to do their best work while keeping their sanity.</p>

   <%= image_tag "profile.jpg", height: 350, width: 350, alt: "alttext" %>

  </div>

</div>
